{% include base_path %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="list__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <div class="talk-card">
      {% if post.youtubeid %}
        <a href="{{ post.youtubeurl }}" target="_blank" class="talk-thumb-link">
          <div class="talk-thumb">
            <img src="https://img.youtube.com/vi/{{ post.youtubeid }}/maxresdefault.jpg" alt="{{ title }}" />
            <div class="talk-play-btn">&#9654;</div>
          </div>
        </a>
      {% endif %}
      <div class="talk-info">
        <p class="talk-title">{{ title }}</p>
        <p class="talk-venue"><i>{{ post.venue }}</i></p>
        <p class="talk-meta">{{ post.type }} &nbsp;·&nbsp; {{ post.date | date: "%B %Y" }} &nbsp;·&nbsp; {{ post.location }}</p>
        {% if post.youtubeurl %}
          <div class="pub-links">
            <a href="{{ post.youtubeurl }}" target="_blank">▶ Watch</a>
          </div>
        {% endif %}
      </div>
    </div>
  </article>
</div>
